<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:annotation-config />

	<!-- ============================== Spring Infraestructure ================== -->
	<!-- Configuracion Persistencia BD Aparcamiento -->
	<!-- <bean id="dataSourcePrueba" class="org.apache.commons.dbcp.BasicDataSource" 
		destroy-method="close" /> -->
	<bean id="dataSourceAparcamiento" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/aparcamiento" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>


	<bean id="sessionFactoryAparcamiento"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceAparcamiento" />
		</property>
		 <property name="configLocation" value="classpath:persistencia/hibernate.cfg.xml" />
<!-- 		<property name="mappingLocations">
			<list>
				<value>classpath:persistencia/Coche.hbm.xml</value>
				<value>classpath:persistencia/Moto.hbm.xml</value>
				<value>classpath:persistencia/Camion.hbm.xml</value>
			</list>
		</property> -->
	</bean>


	<!-- Configuracion de los gestores de transacciones: "TransactionManager" -->
	<bean id="transactionManagerAparcamiento"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryAparcamiento" />
	</bean>

	<!-- Fin de configuracion persistentencia Aparcamiento -->

	<!-- Importacion de resto de ficheros de spring -->
	<import resource="spring-model-manager.xml" />
	<import resource="spring-model-dao.xml" />

</beans>